:root {
    --color-bg-dark-hsl: 233,8%,11%;
    --color-primary-hsl: 240, 100%, 64%;
}

body {
    background-color: hsl(var(--color-bg-dark-hsl));
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
}

.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50vw;
    color: hsl(var(--color-primary-hsl));
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    margin-bottom: 140px;
}

.status h2 {
    font-size: 5rem;;
}

.status p {
    position: relative;
    top: -60px;
    color:aquamarine;
    left: 10px;
    font-size: 1.7rem;;
}

.image {
    display: flex;
    width: 50vw;
    height: inherit;
    justify-content: center;
}

.image > img {
    height: 60vh;
    max-width: 100%;
    object-fit: fill;
    mix-blend-mode: luminosity;
    border-radius:  10px;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    .title {
        margin-bottom: 0;
    }

    .status {
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .image {
        width: 100vw;
        justify-content: center;
    }

    .image > img {
        width: 100vw;
    }
}