:root {
    --color-bg-dark-hsl: 233,8%,11%;
    --color-primary-hsl: 240, 100%, 64%;
}

body {
    background-color: hsl(var(--color-bg-dark-hsl));
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
}

.status {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
    color: hsl(var(--color-primary-hsl));
}

.status h1 {
    color: aliceblue;
}

.status h2 {
    font-size: 5rem;;
}

.status p {
    position: relative;
    top: -60px;
    color:aquamarine;
    left: 10px;
    font-size: 1.7rem;;
}

.image {
    display: flex;
    width: 50vw;
    height: inherit;
    justify-content: center;
}

.status .message {
    position: relative;
    top: 20vh;
}




.image img {
    position: relative;
    top: 20vh;
    height: 60vh;
    max-width: 100%;
    object-fit:fill;
    mix-blend-mode: luminosity;
    border-radius:  10px;
}